{{! Cabeçalho}}
<div id="inicio" class="container-product-description">
    <div class="overlay"></div>
	<div class="container header-hero">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1 class="animated fadeIn">
					Esteja pronto para o futuro.
				</h1>
				<h2 class="animated fadeIn">A MICROINFO é seu parceiro para que você alcance suas habilidades.</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 container-product-description-info">
				<div class="service animated fadeIn">
					<i class="fa fa-question fa-3x color-orange"></i>
					<h2>O que é e como funciona?</h2>
					<p>Somos uma plataforma pelo qual você pode estudar de maneira clara, rápida e objetiva.</p>
				</div>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-emphasys open-inscriptions">Matrículas <span class="color-orange">abertas!</span></h1>
        </div>
    </div>
</div>

{{! Metodologia}}
<section id="metodologia" class="process features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Metodologia</h1>
            <p class="color-white">Nós garantimos o melhor conteúdo e a melhor abordagem.</p>
        </div>
    </div>

    <div class="row">
        <div class="process-flow">
            <ol class="list-unstyled">
                <li class="">
                    <div class="process-node">
                        <i class="fa fa-comments"></i>
                    </div>
                    <h4>Cursos 100% narradas e individuais</h4>
                    <p>Totalmente diferente de outros outros sistemas existentes, respeitando os diferentes ritmos de aprendizado.</p>
                    <div class="line">
                      <div class="progress"></div>
                    </div>
                </li>
                <li class="">
                    <div class="process-node">
                        <i class="fa fa-comments"></i>
                    </div>
                    <h4>Foco nas atividades</h4>
                    <p>O aluno assiste à lição narrada, vendo a execução dos comandos e ouvindo a explicação do professor.</p>
                    <div class="line">
                      <div class="progress"></div>
                    </div>
                </li>
                <li class="">
                    <div class="process-node">
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                    <h4>Prática de exercícios</h4>
                    <p>Após assistir, o aluno faz os exercícios da apostila referentes à lição que acabou de assitr.</p>
                    <div class="line ">
                        <div class="progress"></div>
                    </div>
                </li>
                <li class="">
                    <div class="process-node">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <h4>Não entendeu? Assista novamente quantas vezes quiser!</h4>
                    <p>Ao fazer os exercícios e ter dúvidas, o aluno poderá assistir à lição novamente quantas vezes desejar.</p>
                    <div class="line ">
                        <div class="progress"></div>
                    </div>
                </li>
                <li class="">
                    <div class="process-node">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <h4>Término de exercícios e avanço</h4>
                    <p>Ao término dos exercícios, o instrutor da sala fará a correção. Se o exercícios estiverem corretos, o aluno segue para a próxima lição.</p>
                </li>
            </ol>
        </div>
    </div>
</section>

{{! Cursos disponíveis}}
<section id="cursos" class="features switch-courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Escolha um módulo de cursos</h1>
                Ou crie um pacote personalizado com os cursos do seu interesse
                <p> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h2>Design Gráfico</h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>Neste módulo a criatividade é a palavra-chave! Aprenda a utilizar as mais modernas ferramentas para criação ou edição de imagens.</p>
                <a href="#" data-toggle="modal" data-target="#about-course-modal" class="btn btn-primary btn-sm">Saiba mais</a>
            </div>
            <div class="col-lg-5 features-text">
                <h2>Operador de Caixa</h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p>Neste módulo é apresentador a rotina de um comércio como pagamentos, uso do software de automação comercial, além de análise de concessão de crédito.</p>
                <a href="#" data-toggle="modal" data-target="#about-course-modal" class="btn btn-primary btn-sm pull-right">Saiba mais</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h2>Operador de Computador</h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>A praticidade do Windows unida à versatilidade do Office! Para iniciantes ou para quem deseja aprofundar seus conhecimentos. Disponível também na versão MASTER.</p>
                <a href="#" data-toggle="modal" data-target="#about-course-modal" class="btn btn-primary btn-sm">Saiba mais</a>
            </div>
            <div class="col-lg-5 features-text">
                <h2>Logística Integrada</h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p>Com este módulo, você estará apto a ingressar no mercado, usando técnicas para redução de custos e aumento de lucros de uma empresa.</p>
                <a href="#" data-toggle="modal" data-target="#about-course-modal" class="btn btn-primary btn-sm pull-right">Saiba mais</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h2>Profissional CAD</h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>Conheça os softwares mais usados para projetos de desenhos técnicos, tais como confecções de plantas e projetos diversos. Bem-vindo a este módulo!</p>
                <a href="#" data-toggle="modal" data-target="#about-course-modal" class="btn btn-primary btn-sm">Saiba mais</a>
            </div>
            <div class="col-lg-5 features-text">
                <h2>Inglês Inteligente</h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>Neste módulo você estará apto para conversar inglês, temos uma metodologia diferenciada onde o aluno é o centro das atenções.</p>
                <a href="#" data-toggle="modal" data-target="#about-course-modal" class="btn btn-primary btn-sm pull-right">Saiba mais</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h2>Assistente Contábil</h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>Neste módulo você irá descobrir que é possível descomplicar cálculos trabalhistas e contábeis, com exemplos práticos de fácil entendimento.</p>
                <a href="#" data-toggle="modal" data-target="#about-course-modal" class="btn btn-primary btn-sm">Saiba mais</a>
            </div>
            <div class="col-lg-5 features-text">
                <h2>Secretário Administrativo</h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>Adquira habilidades para uma excelente comunicação escrita e pessoal, para a organização do ambiente de trabalho e desvende os cálculos matemáticos do dia a dia empresarial.</p>
                <a href="#" data-toggle="modal" data-target="#about-course-modal" class="btn btn-primary btn-sm pull-right">Saiba mais</a>
            </div>
        </div>
    </div>
</section>

{{! Chamada para inscrição}}
<section id="inscricao" class="start-now white">
	<div class="container">
		<div class="header-hero" style="padding-bottom: 90px;">
			<h2>
				Estude de maneira clara, rápida e objetiva. <span>A plataforma ideal.</span>
			</h2>
			<p>
				Em síntese, a MicroInfo fornece todos os <span>recursos necessários para que você
			aluno, possa estudar e alcançar os melhores resultados.</span>
			</p>
			<h1>Pronto para começar?</h1>
			<br>
			<a class="btn btn-primary btn-lg" href="#">
				Quero me inscrever agora!
			</a>
			</div>
		</div>
</section>

{{! Contato}}
<section id="contato" class="footer gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="m-b-xl"></div>
                <!--<div class="navy-line"></div>-->
                <h1>Fale conosco</h1>
                <p>Fale conosco e em breve você será respondido.</p>
                <div class="m-b-xl"></div>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-md-5 col-lg-3 col-lg-offset-1">

                <address>
                    <strong><span class="navy">MÉTODO MICROINFO</span></strong><br/>
                        Rua João Gonzaga de Menezes nº223<br/>
                        Centro, Adustina - BA, 48435-00<br/>
                    <abbr title="Nos ligue se preferir!">Telefone:</abbr> (075) 9 9992 - 1835<br />
                    <abbr title="Ou nos envie-um e-mail!">E-mail:</abbr> <a href="mailto:centromicroinfo@gmail.com">centromicroinfo@gmail.com</a>
                </address>

                <p class="text-color">
                    <strong>Ensino profissionalizante de qualidade!</strong>
                    <br />
                    Nossos cursos são 100% narrados por professores,
                    como se fosse uma aula VIP, o que torna diferente dos
                    demais sistemas sistemas, que muitas vezes fazem uso
                    de "locuções artificiais" maçantes e com pouca qualidade.
                </p>

            </div>
            <div class="col-md-7 col-lg-6 col-lg-offset-1">
                <form id="contact-frm" role="form" method="POST" action="{{ APP_SISTEMA }}">

                    <div class="alert hidden" id="contact-message">
                        <button type="button" class="close" data-toggle="tooltip" data-original-title="Fechar" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong><span class="message"></span></strong> <span class="alert-link"></span>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label lead"><i class="fa fa-user"></i> Nome</label>
                                <div class="form-group">
                                    <input type="text" value="Carlos Henrique"" placeholder="Nome" name="name" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="lead" for="inputEmail"><i class="fa fa-envelope"></i> E-mail</label>
                                <div class="form-group">
                                    <input value="carlohcs@gmail.com" type="text" name="email" placeholder="E-mail" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="lead"><i class="fa fa-phone"></i> Telefone</label>
                                <div class="form-group">
                                    <input value="1121212" type="text" maxlength="9" class="form-control" name="phone" placeholder="Telefone" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lead" for="inputEmail"><i class="fa fa-inbox"></i> Mensagem</label>
                        <div class="form-group">
                            <textarea class="form-control" rows="3" name="message" placeholder="Se possível, informe quem o indicou, e suas necessidades/sugestões.">adsfasdfsadssadfsadf</textarea>
                        </div>
                    </div>

                    <p class="text-center">
                        <input type="submit" data-loading-text="Enviando..." class="btn btn-primary" id="contact-send" value="Enviar" />
                    </p>
                </form>

            </div>
        </div>
    </div>
</section>

{{! Modal sobre os cursos}}
<div class="modal inmodal" id="about-course-modal" tabindex="-1" role="dialog" aria-hidden="true">

	<div class="modal-dialog">

	<div class="modal-content animated flipInY">

			<div class="modal-header">

				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

				<i class="fa fa-laptop modal-icon"></i>

				<h4 class="modal-title">Modal title</h4>

				<small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>

			</div>

			<div class="modal-body"></div>

			<div class="modal-footer">

				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

				<button type="button" class="btn btn-primary">Save changes</button>

			</div>

		</div>

	</div>

</div>

