<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Escolha um módulo de cursos</h1>
                Ou crie um pacote personalizado com os cursos do seu interesse
                <p> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>Design Gráfico</h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>Neste módulo a criatividade é a palavra-chave! Aprenda a utilizar as mais modernas ferramentas para criação ou edição de imagens.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>Operador de Caixa</h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p>Neste módulo é apresentador a rotina de um comércio como pagamentos, uso do software de automação comercial, além de análise de concessão de crédito.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>Operador de Computador</h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>A praticidade do Windows unida à versatilidade do Office! Para iniciantes ou para quem deseja aprofundar seus conhecimentos. Disponível também na versão MASTER.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>Logística Integrada</h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p>Com este módulo, você estará apto a ingressar no mercado, usando técnicas para redução de custos e aumento de lucros de uma empresa.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>Profissional CAD</h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>Conheça os softwares mais usados para projetos de desenhos técnicos, tais como confecções de plantas e projetos diversos. Bem-vindo a este módulo!</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>Inglês Inteligente</h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>Neste módulo você estará apto para conversar inglês, temos uma metodologia diferenciada onde o aluno é o centro das atenções.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>Assistente Contábil</h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>Neste módulo você irá descobrir que é possível descomplicar cálculos trabalhistas e contábeis, com exemplos práticos de fácil entendimento.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>Secretário Administrativo</h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>Adquira habilidades para uma excelente comunicação escrita e pessoal, para a organização do ambiente de trabalho e desvende os cálculos matemáticos do dia a dia empresarial.</p>
            </div>
        </div>
    </div>

</section>
