<div class="inscription-modal animated fadeIn">
    <div class="modal-header inscription-modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Inscrição</h3>
        <h4>Utilize o formulário abaixo para inscrever-se em nossos cursos.</h4>
    </div>

    <div class="modal-body">
        <form id="inscription-frm" role="form" method="POST" action="">
            <div class="alert hidden" id="contact-message">
                <button type="button" class="close" data-toggle="tooltip" data-original-title="Fechar" data-dismiss="alert" aria-hidden="true">×</button>
                <strong><span class="message"></span></strong> <span class="alert-link"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label lead"><i class="fa fa-user"></i> Nome</label>
                        <input type="text" value="" placeholder="Nome" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="lead" for="inputEmail"><i class="fa fa-envelope"></i> E-mail</label>
                        <input value="" type="text" name="email" placeholder="E-mail" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="lead"><i class="fa fa-phone"></i> Telefone</label>
                        <input value="" type="text" maxlength="9" class="form-control" name="phone" placeholder="Telefone">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="lead"><i class="fa fa-birthday-cake"></i> Data de nascimento</label>
                        <input value="" type="date" class="form-control" name="birthday" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="lead" for="inputEmail"><i class="fa fa-inbox"></i> Curso pretendido</label>
                <select class="form-control">
                    <option value="profissionalizantes">Profissionalizantes</option>
                    <option value="informática">Informática</option>
                    <option value="curso-extensivo-palestras">Curso Extensivo - Palestras</option>
                </select>
            </div>

            <div class="form-group">
                <label class="lead" for="inputEmail"><i class="fa fa-credit-card"></i> Qual forma de pagamento você tem preferência?</label>
                <div class="radio" style="margin-top: 0;">
                    <label>
                        <input type="radio" name="billing" value="dinheiro" /> Dinheiro (na nossa sede)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="billing" value="deposito" /> Depósito ou transferência para uma conta bancária
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="billing" value="boleto" /> Boleto bancário*
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="billing" value="cartao" /> Cartão de crédito ou de débito**
                    </label>
                </div>
                <small>
                    *O boleto será enviado para o e-mail informado no prazo de até 72h.
                    <br />
                    **Cartão de crédito ou de débito não são aceitos para pagamento de inscrições, apenas de mensalidades, pacotes e parcelas.
                    <br />
                    ***Parcelamentos podem ser realizados apenas com cartão de crédito.
                </small>
            </div>

            <div class="form-group">
                <label class="lead" for="inputEmail"><i class="fa fa-inbox"></i> Mensagem</label>
                <textarea class="form-control" rows="3" name="comment" placeholder="Envie sua dúvida, sugestão ou algo que queira nos falar."></textarea>
            </div>

            <div class="form-group">
                <label class="lead"><i class="fa fa-navicon"></i> Termos e Condições</label>
                <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" />
                    Estou ciente que o curso ou serviço pretendido só será oferecido pela MICROINFO havendo inscrições suficientes para a formação de turma, estando
                    também sujeito à disponibilidade de vaga.
                </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
        <input type="submit" data-loading-text="Enviando..." class="btn btn-primary contact-send" value="Enviar">
    </div>
</div>
