<div class="error-container middle-box text-center animated fadeInDown">
    <h1 class="header-hero">404</h1>
    <h2 class="font-bold">Página não encontrada</h2>
    <div class="error-desc">
        <h3>
            Desculpa, a página que você está procurando não foi encontrada.
        </h3>
        <h4>Verifique a URL e tente novamente.</h4>
        <br />
        <a href="/" class="btn btn-primary">
            Ir para a página principal
        </a>
    </div>
</div>
